body{
    padding: 0;
    margin: 0;
    background-color: #010d27;
}
.header{
    padding: 0;
    background-color: #010714;
    height: 60px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.6);
    border-bottom: 3px solid #16bd16;
    position: fixed;
    width: 100%;
}

.img_idioma, .img_tela{
    width: 20px;
}

.nav{
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

url{
    width: 40%;
    display: flex;
    justify-content: space-between;
}

.background{
    width: 100%;
    padding: 0;
    margin: 0;
    margin-top: 60px;
    margin-bottom: 60px;
}

.section{
    display: grid;
    grid-template-columns: 50% 50%;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 20px;
}

.infoboasvindas{
    display: flex;
    justify-content: center;
    justify-items: center;
    flex-direction: column;
}

.titulo{
    color: white;
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 20px;
    margin-bottom: 5px;
    margin-top: 0px;
}

.subTitulo{
    color: #16bd16;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 20px;
    margin-top: 0px;
}

.foto_info{
    display: flex;
    justify-content: end;
    height: 300px;
}

.foto{
    height: 100%;
    margin: 0;
    padding: 0;
}

.info_sobre_mim, .habilidades_tecnicas, .experiencias{
    align-items: center;
    justify-content: center;
    justify-items: center;
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    padding-right: 10%; 
    margin-top: 100px;
    margin-bottom: 100px;
}

.titulo_dois{
    color: #ffffff;
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    text-align: center;
}

.texto{
    color: white;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    margin-top: 40px;
}

.texto span{
    color: #16bd16;
    font-style: italic;
    font-weight: bold;
}

.contatos{
    display: flex;
    margin-top: 10px;
}

.curriculo{
    background-color: #16bd16;
    font-size: 20px;
    padding: 5px;
    border-radius: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    margin-left: 20px;
    cursor: pointer;
}

.contato_email{
    font-size: 20px;
    padding: 5px;
    color: #ffffff;
    border-radius: 20px;
    border: solid, 2px, #16bd16;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.habilidades{
    display: grid;
    grid-template-columns:  20% 20% 20% 20% 20%;
    margin-top: 50px;
    width: 100%;
}

.habilidade{
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}
.habilidade img{
    width: 100px;
    height: 100px;
    transition: filter 0.5s ease-in-out;
    padding: 10px;
}

.habilidade img:hover{
    width: 120px;
    height: 120px;
    padding: 0px;
}

.habilidade p{
    color: white;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

.section2{
    display: grid;
    grid-template-columns: 30% 70%;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 80px;
}

.texto_funcao{
    color: white;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    margin-top: 10px;
}

.texto_empresa{
    color: #16bd16;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}

.experiencia1, .experiencia2, .experiencia3, .experiencia4{
    padding: 10px;
    cursor: pointer;

}

.experiencia1:hover, .experiencia2:hover, .experiencia3:hover, .experiencia4:hover{
    background-color: #16bd16;
    transition: background-color 0.5s ease-in-out;
    .texto_funcao{
        color: #000000;
    }
    .texto_empresa{
        color: #ffffff;
    }
}